.iconBtn {
    border-radius: 50%;
    width: 3.125em;
    height: 3.125em;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconBtn:hover {
    background-color: rgba(211, 211, 211, 0.1);
    cursor: pointer;
}
