.listItem {
    display: flex;
    align-items: center;
    height: 55px;
    background-color: #34343b;
    margin-bottom: 10px;
    margin-right: 10px;
}

.listItem > span {
    margin-left: 10px;
    font-size: 20px;
}