.textBtn {
    background-color: var(--main-bg-color);
    border: 0.0625em solid white;
    border-radius: 0.25em;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.6875em;
}

/* Add space to right of textBtn icon (which is either an svg like the trash icon or a span) */
button * ~ * {padding-left: 0.6875em; text-decoration: none;}

.textBtn:hover {
    background-color: rgba(211, 211, 211, 0.1);
    cursor: pointer;
}
