.textBtn {
    background-color: var(--main-bg-color);
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 11px;
}

/* Add space to right of textBtn icon (which is either an svg like the trash icon or a span) */
button * ~ * {padding-left: 11px; text-decoration: none;}

.textBtn:hover {
    background-color: rgba(211, 211, 211, 0.1);
    cursor: pointer;
}