#itemList {
    width: available;
    width: -moz-available;
}

#itemList > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.4375em;
    background-color: #34343b;
    width: available;
    width: -moz-available;
    margin-left: 0.625em;
    padding-left: 0.625em;
    margin-bottom: 0.625em;
}