* {
    user-select: none;
}

#signUp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding: 10px 20px 10px 10px;
    width: 300px;
    background-color: #191b1c;
}

#signUp > #header {
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
}

#signUp > label {
    display: block;
    margin-bottom: 1px;
    font-size: 20px;
}

#signUp > input[type="text"], #signUp > input[type="email"], #signUp > input[type="password"] {
    margin-bottom: 10px;
    width: 100%;
    color: black;
    font-size: 20px;
}

#signUp > #errorSpan {
    color: red;
    margin-bottom: 10px;
    font-size: 20px;
}

#signUp > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#signUp > div > button {
    margin-right: 10px;
    background-color: #191b1c;
}