@page "/explore"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using AgileProject.Backend
@inject ProtectedLocalStorage Storage

<link href="css/Explore.css" rel="stylesheet"/>

<AuthChecker/>

@if (sets == null || sets.Count == 0) { return; }

<div id="itemList">
	@foreach (Set s in sets)
	{
		<div>
			<IconButton Icon="add" OnClick="@(() => Connection.CopySetFromSetID(userID, s.SetID, Connection.GetFoldersFromUser(userID).First(f => f.Name == "Uncategorized").FolderID))"/>
			<span>@s.Name</span>
		</div>
	}
</div>

@code {
	private List<Set>? sets;
		
	private Guid userID;
    
	protected override async Task OnParametersSetAsync()
	{
		ProtectedBrowserStorageResult<string> result = await Storage.GetAsync<string>("userID");
		Guid.TryParse(result.Value, out userID);

		sets = Connection.RetrieveSets(userID);
	}
}